        body
        {
            margin: 0;
            width: 100%;
        }

        .whole-wrapper
        {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            min-width: 1024px;

            background-color: white;
        }

        header
        {
            position: relative;
            height: 60px;
            width: 100%;
            min-width: 1024px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Noto Sans KR';
            font-size: 14px;
            background-color: white;
            position: fixed;
            z-index: 3;
            
            border-bottom: 1px solid #ccc;
        }

        .header-anim
        {
            animation: headerFade 200ms linear forwards;
        }

        #logo
        {
            font-family: 'Marcellus SC';
            font-size: 21px;
        }

        /* 네비게이션 */

        .nav
        {
            width: 1024px;
            height: 100%;
            padding: 0 1px;
            display: fixed;
            box-sizing: border-box;
        }

        .nav > ul
        {
            height: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1024px;
            
             position: relative;
        }

        .nav > ul > li
        {
            display: inline-block;
            padding: 0 10px;
            margin: 0;

            cursor: pointer;
        }

        .nav > ul > li > a
        { 
            text-decoration: none;
            color: black;
        }

        .nav ul li:nth-of-type(1){flex: 1 1 0;}
        .nav ul li:nth-of-type(2){flex: 2 1 0;}
        .nav ul li:nth-of-type(3){flex: 1 1 0;}
        .nav ul li:nth-of-type(4){flex: 15 1 0;}
        .nav ul li:nth-of-type(5){flex: 2 1 0;}
        .nav ul li:nth-of-type(6){flex: 2 1 0;}
        .nav ul li:nth-of-type(7){flex: 1 1 0;}
		
        .nav svg
        {
            width: 25px;
            height: 25px;
            fill: rgb(80, 80, 90);
            margin-bottom: -5px;
        }
        
/*      마이 어카운트 토글 박스 */

        
        .my-account-wrapper
        {
        	position: relative;
        }
        
		#my-account-btn > span
		{
			font-size: 17px;
			font-weight: bold;
		}
		
   		.my-account-box
        {
            display: none;
            position: absolute;
            width: 95px;
            height: auto;
            border: 1px solid #eee;
            font-size: 13px;
            left: -32%;
            top : 7px;
            background-color: white;
        }
        

        .my-account-box > ul
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .my-account-box > ul > li
        {
            width: 100%;
            height: 100%;
            padding: 5px 10px;

            box-sizing: border-box;
        }

        .my-account-box > ul > li:hover
        {
            background-color: #eee;
        }

        .my-account-box > ul > li > a
        {
            text-decoration: none;
            color: black;
        }

        #my-account-btn
        {
            position: relative;
            cursor: pointer;
        }
        
/*         고객지원 토글 박스        */
		
		
		.support-wrapper
        {
            position: relative;

        }

        .support-box
        {
            display: none;
            width: 95px;
            height: auto;
            border: 1px solid #eee;
            font-size: 13px;
            position: absolute;
            left: -20px;
            top: 30px;
            
            background-color: white;
        }

        .support-box > ul
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .support-box > ul > li
        {
            width: 100%;
            height: 100%;
            padding: 5px 10px;

            box-sizing: border-box;
        }

        .support-box > ul > li:hover
        {
            background-color: #eee;
        }

        .support-box > ul > li > a
        {
            text-decoration: none;
            color: black;
        }

        #support-btn
        {
            position: relative;
            cursor: pointer;
        }


        #category-toggle-btn
        {
            width: auto;
            height: 100%;
            cursor: pointer;
            box-sizing: border-box;
        }

        #category-toggle-btn span
        {
            display: block;
            width: 25px;
            height: 4px;
            background-color: black;
        }

        #category-toggle-btn span:not(:first-of-type)
        {
            margin-top: 3px;
        }
        
        
        /* 카테고리 메뉴 */


        .category-menu
        {
            position: absolute;
            width: 1024px;
            height: 600px;
            top: 100%;
            background-color: white;
            font-family: 'Noto Sans KR';
            border: 1px solid #eee;

            z-index: 5;
            display: none;
            flex-flow: row wrap;
            justify-content: center;
        }

        .category-menu.active
        {
            display: flex;
        }

        .category-menu > div
        {
            width: 176px;
            margin: 0 10px;
        }

        .category-menu p
        {
            font-size: 14px;
            margin: 14px 0 0 0;
            color: #666;
            font-weight: bold;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;

            transition: 250ms linear;
        }

        .category-menu > div > span
        {
            display: block;
            width: 100%;
            height: 1px;
            background-color: #bbb;
            margin-bottom: 13px;
            transition: 250ms linear;
        }

        .category-menu div:hover span
        {
            background-color: black;
        }

        .category-menu div:hover p
        {
            color: black;
        }

        .category-menu ul
        {
            list-style: none;
            margin: 0;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .category-menu ul > li > a
        {
            font-size: 13px;
            text-decoration: none;
            color: #888;
        }

        .category-menu ul > li > a:hover
        {
            color: black;
        }

        .section-wrapper
        {
            width: 100%;
            height: auto;

            display: flex;
            flex-flow: column;
            align-items: center;

            background-color: white;
            margin-top: 60px;
        }

        section
        {
            font-family: 'Noto Sans KR';
        }